@page
@model SevStudentsApp.Pages.Courses.CreateModel
@{
}

<h2>New Course</h2>
@if (!Model.errorMessage.Equals(""))
{
    <h2><strong>@Model.errorMessage</strong></h2>
}

<form method="POST">
    <div class="row mb-3">
        <label for="description" class="col-md-1 col-form-label">Περιγραφή</label>
        <div>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter description" value="@Model.courseDto.Description" />

        </div>
    </div>

    <div class="row mb-3">
        <label for="teacherId" class="col-md-1 col-form-label">Καθηγητής</label>
        <div>
            <input type="text" class="form-control" name="teacherId" id="teacherId" placeholder="Enter Teacher" value="@Model.courseDto.TeacherId" />
            @*<div class="form-group">
                @Html.LabelFor(model => model.Teachers )
                @Html.DropDownListFor(model => model.SelectRegionId, Model.Regions, "Choose... ")
            </div>*@

        </div>
    </div>




    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-md-1 col-md-3 d-grid">
            <a href="/" role="button" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>